*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: black;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.container{
    display: flex;
    flex: wrap;
}

aside{
    flex: 30px;
    background-color: brown;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: beige;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: crimson;
}